name: Deploy automation on develop branch

on:
  push:
    branches:
      - develop

jobs:
  update-branch:
    name: Update Develop
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v2
        with:
          ref: develop

      - name: Checkout do repositório
        uses: actions/checkout@v2
        with:
          ref: homolog

      - name: Config git
        run: |
          git config --global user.email "robot@github.com"
          git config --global user.name "Homolog Robot"

      - name: Rebase branch
        run: |
          git fetch --all
          git rebase develop

